/* CSS declarations go here */

.pt10 {
    padding-top: 10px;
}
.pt20 {
    padding-top: 20px;
}
.pad20 {
    padding: 20px;
}
.mt10 {
    margin-top: 10px;
}
.user {
    width: 40px;
    float: left;
    height: 100px;
    margin: 10px;
    margin-left: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.success .user {
    left: 15px;
}
.question {
    min-height: 100px;
    padding-left: 70px;
}
.success .question {
    padding-left: 85px;
}
.answers {
    clear: both;
    text-align: center;
}
.ml20 {
    margin-left: 20px;
}
.coins {
    font-size: 2em;
    text-align: center;
}
.count {
    width: 100%;
    position: relative;
}
.count-inside {} .answerLength {
    font-size: 2em;
    padding-left: 100px;
    clear: left;
}

.flipButton {
    position: absolute;
    right: 0;
    bottom: 0;
    float: left;
}
.shareButtons {
}
.shareButtons .fb-like, .shareButtons .comment-count {
    display:inline-block;
}

.shareButtons .comment-count {
    padding-top:5px;
    margin-left:20px;
    float:right;
}
.que {
    position: relative;
    border: 2px solid;
    border-radius: 5px;
    padding-bottom: 30px;
}
.que.success {
    border-color: rgb(238,60,35);
}
.que.info {
    border-color: rgb(238,146,34);
}
.user img,
.profile-pic img {
    width: 48px;
    min-height: 40px;
    background-image: url('defaultuser.png') center no-repeat;
    float:left;
    margin-right:20px;
}
.profile-pic {
    margin-bottom:20px;
}
.userCoins: {
    text-align: right;
}
.at-social button {
    width: 220px;
}

#atError {
    display: none;
}
.delSearch {
    margin-top: -5px;
}
.navbar-brand {
    z-index: 1000;
}
body {
    padding-top: 70px;
    background-color: #e9eaed;
}
.twitter-share-button {
    margin-bottom: -5px;
}
#iron-router-progress {
    background-color: #2fa4e7;
    box-shadow: 0 0 5px black;
}
footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.brand img {
    height:60px;
}

#increaseCoins {
    height:22px;
    width:60px;
}

#xs-menu img {
    width:100%;
}

#sidebar {
    width:150px;
    float:left;
}

.full {
    padding-top: 0px;
}
.comment-overlay {
    position:absolute;
    float:left;
    height:16px;
    width: 130px;
    background-color:blue;
    z-index:1000;
    top:5px;
    opacity:0;
    display:block;
}
.comment-overlay:hover {
    opacity:0.2;
}
.comment-count {
    position:relative;
}

.questionTxt {
    font-size:1.6em;
}
